@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}

h1, h2, h3 {
  @apply font-semibold tracking-tight;
}
